doctype html
html
	head
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="../style/index.styl")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet")
		script(defer="defer" src="../src/index.js")
		link(rel="apple-touch-icon" sizes="180x180" href="../style/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="../style/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="../style/favicon-16x16.png")
		link(rel="manifest" href="../static/site.webmanifest")
		link(rel="mask-icon" href="../style/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="msapplication-TileColor" content="#b91d47")
		meta(name="theme-color" content="#ffffff")
		title paulll
		style(data-ru="") .rus{display:none;}
	body
		.content
			.block 
				h1 paulll
			.block
				h2(data-ru="Привет, Мир!") Hello, world!
				p 
					.line(data-ru="Я — фул-стак разработчик (middle, полагаю). Занимаюсь проектами где-то c 11 лет.") I am a full stack <span><s>junior</s> suffering from impostor syndrome</span> developer, doing things since ~11yo.
					.line(data-ru="Ниже огромный каталог личных проектов с описаниями. Полагаю, это будет объективнее чем моя болтовня (Talk is cheap. Show me the code), да и синдром самозванца мешает..") Check out my awesome projects below
					.line(data-ru="По всем вопросам пишите в <a href=\"tg://resolve?domain=pauljs2\">телеграм</a>, ну или на <a href=\"mailto:paulll@derpy.ru\">почту</a>, которую я не читаю.") And feel free to contact me on <a href="tg://resolve?domain=pauljs2">telegram</a>
			.block
				h2(data-ru="Последние проекты") Most recent things
				.things
					.line <a href="projects.pug#7f54977d2390d272"><b>Yajla</b></a> — Yet Another Japanese Learing App
					.line <a href="projects.pug#70dcfce5f46cd5c4"><b>this</b></a> — The site you're currenty on
					.line <a href="tg://resolve?domain=iqdbsearchbot"><b>@iqdbsearchbot</b></a> — Telegram bot to search by images
					.line <a href="projects.pug#40d6c10249dd181f"><b>graphite</b></a> — Social graph analysis platform
					.line <a href="projects.pug#85ee1a7c75ec4ff3"><b>ESF</b></a> — Evil Signup Form, just give it a try :D
					.line <a href="projects.pug#16ba5ec090721062"><b>siso</b></a> — Automated decomposition and solution of some CTF-like tasks
					.line <a href="projects.pug#c8c78bf72a48b1e5"><b>@chandjbot</b></a> — Telegram bot to organize your music library
					//.line <a href="https://github.com/paulll/inverted-index"><b>rust-inverted-index</b></a> — Simple embedded inverted index database
			.block
				h2(data-ru="Проeкты по категориям") By category
				.projects
					each category in categories
						.tag 
							h3(data-ru=category.i18n.ru) !{category.i18n.en}
							ul
								each project in category.projects
									if project.i18n.en.name
										li
											a(href="projects.pug#"+project.id data-ru=project.i18n.ru.name) !{project.i18n.en.name}
									else
										li.todo
											a.todo= project.filename.slice(0,-5)
			.block.rus
				h2 Ищу работу
				p 
					.line 
						| В какой-нибудь небольшой, уютной IT-компании, где нет бюрократии и формальностей. 
						| Классно, если она занимается разработкой собственных проектов,
						| новых и интересных, где можно проявить креативность. Москва / Санкт-Петербург  
