doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="../style/projects.styl")
		link(href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet")
		script(defer="defer" src="../src/index.js")
		link(rel="icon" type="image/png" href="../style/favicon32.png")
		title paulll::projects
	body
		.content
			each category in categories
				each project in category.projects
					.block(id=project.id)
						h2(data-ru=project.i18n.ru.name) !{project.i18n.en.name}
						.technologies
							.icon #
							.items
								each technology in project.technologies
									.technology !{technology}
						.data(data-ru=project.i18n.ru.description) !{project.i18n.en.description}
						.links-wrap
							.links
								if project.deployment
									a.icon.deployment(href=project.deployment)
								if project.source
									a.icon.repo(href=project.source)
								if project.license == 'Private'	
									.icon.private
								if project.license == 'MIT'
									.icon.mit
										span mit