doctype html
html(lang=hl prefix="og: http://ogp.me/ns#")
	head(prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="/style/projects.css")
		link(rel="stylesheet" href="/style/github-gist.css")
		link(href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet")
		script(async src="/js/frontend.js")
		script(async src="/js/link-prerender.js")
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="msapplication-TileColor" content="#b91d47")
		meta(name="theme-color" content="#ffffff")
		meta(name="description" property="og:description" content=project.short)
		meta(property="og:title" content=project.name)
		meta(property="og:url" content=project.canonical_url)
		meta(property="og:type" content="article")
		if project.image
			meta(property="og:image" content=project.image)
		else 
			meta(property="og:image" content="https://paulll.cc/ogp-splash.webp")
			meta(property="og:image" content="https://paulll.cc/ogp-splash.png")
		meta(property="article:section" content=project.category)
		meta(property="article:author" content="https://paulll.cc")
		each technology in project.technologies
			meta(property="article:tag" content=technology)
		title !{project.name} — paulll
		if project.license == 'Private'
			meta(name="robots" content="noindex, nofollow, nosnippet")
	body
		.content
			.block
				h1 !{project.name}
				.technologies
					.icon #
					.items
						each technology in project.technologies
							.technology !{technology}
				.data !{project.description}
				.links-wrap
					.links
						if project.deployment
							a.icon.deployment(href=project.deployment)
						if project.source
							a.icon.repo(href=project.source)
						if project.license == 'Private'	
							.icon.private
						if project.license == 'MIT'
							.icon.mit
								span mit
			#footer
